[Unit]
Description=iCloud Photo downloader daemon
After=network-online.target

[Service]
Type=simple
User=tang
ExecStart=/home/tang/Git/SetupEnv/archlinux/iCloud.sh

[Install]
WantedBy=multi-user.target
